body{
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}
form{
	padding: 100px;
}
#form-parent{
	margin-top: 141px;
	background-color: rgba(255, 255, 255, 1);
	height: 906px;width: 1108.78px;
	box-shadow: rgba(41, 41, 42, 0.07);
}

.form-control{

  border-style: solid;
  border-color: rgba(243, 159, 159, 1);
}

input:focus{
  outline: none;
  border-color: rgba(243, 159, 159, 1);
  box-shadow: 5px 10px 18px rgba(243, 159, 159, 1);
}

.hero-img{
	height: 370px;
	outline-style: dashed;
	outline-color: rgba(243, 159, 159, 1);
}

#go-home{
position: absolute;
left: 13.75%;
right: 78.12%;
top: 85px;
/*bottom: 91.36%;*/
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14.8px;
/*line-height: 20px;*/
text-decoration: none;
color: inherit;

font-feature-settings: 'salt' on, 'liga' off;

color: #474A57;
}

#publish-btn{
	color: white;
	background-color: rgba(243, 159, 159, 1);
}
